:host {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
}

div {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-purple);
  padding: 1rem;
  border-radius: var(--radius-md);
}
